absl-py==0.2.0
astor==0.6.2
beautifulsoup4==4.6.0
bleach==3.1.4
certifi==2018.4.16
chardet==3.0.4
click==6.7
feedparser==5.2.1
Flask==1.0
gast==0.2.0
grpcio==1.11.0
gunicorn==19.8.0
html5lib==0.9999999
idna==2.6
itsdangerous==0.24
Jinja2==2.10
languageflow==1.1.7a3
Markdown==2.6.11
MarkupSafe==1.0
numpy==1.14.3
protobuf==3.5.2.post1
pymongo==3.6.1
python-crfsuite==0.9.5
pytz==2018.4
pyvi==0.0.9.1
requests==2.20.0
scikit-learn==0.19.1
six==1.11.0
sklearn-crfsuite==0.3.6
tabulate==0.8.2
tensorboard==1.8.0
tensorflow==1.8.0
termcolor==1.1.0
tqdm==4.23.1
underthesea==1.1.7
urllib3==1.22
Werkzeug==0.14.1
wikipedia==1.4.0
